<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1094306417600-6rngketmn3t1l14c1ckr59gbs59u6m9p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094306417600-6rngketmn3t1l14c1ckr59gbs59u6m9p</string>
	<key>API_KEY</key>
	<string>AIzaSyBIu45Z1gm6zq2ruW9NK9h-sq6M9vbr8sA</string>
	<key>GCM_SENDER_ID</key>
	<string>1094306417600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rock.paper.scissors.fight</string>
	<key>PROJECT_ID</key>
	<string>rock-paper-scissors-fight</string>
	<key>STORAGE_BUCKET</key>
	<string>rock-paper-scissors-fight.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094306417600:ios:2a831f8868dc398d2d1625</string>
</dict>
</plist>